</br>

<div class="jumbotron georg-serif">
  <div class="jumbo-format">
    <h1>Correspondence</h1>
    <p><i>Communication by exchanging letters with someone.</i></p>
    <p class="helv">Writing can carry more meaning, if we just let it.</p>

    <% if current_user.present? %>
      <p>Welcome back <%= current_user.name %></p>
    <% else %>
      <p>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary'%> or
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'%>
      </p>
    <% end %>
  </div>
</div>

<div class="row btm-info georg-serif">
  <div class="col-md-4">
    <h2>Writing can carry more meaning, we just need to let it.</h2>
      <ul>Discussions cannot be edited! What you write matters</ul>
      <ul>Permanence gives conversations meaning.</ul>
      <ul>Read more <%= link_to "About Correspondence", welcome_about_path, class: 'link' %></ul>
  </div>

  <div class="col-md-4">
    <h2>Read famous correspondences from the past</h2>
      <ul>Link 1, eg. "Benjamin Franklin and Thomas Payne"</ul>
      <ul>Link 2</ul>
      <ul>Link 3</ul>
  </div>

  <div class="col-md-4">
    <h2>Features</h2>
      <ul>Create private correspondences with friends and family</ul>
      <ul>Discuss particular topics and become a better writer</ul>
      <ul>Share your correspondence for others to discuss</ul>
  </div>
