</br>

<div class="jumbotron">
  <h1>Correspondence</h1>
  <p>Pretty definition of formal corresponce</p>
  <p> sign in/up links </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Communicate with Purpose</h2>
      <ul>Learn to be a better writer</ul>
      <ul>Have meaningful conversations</ul>
      <ul>Read more about <%= link_to "Corresondence", welcome_about_path, class: 'link' %></ul>
  </div>

  <div class="col-md-4">
    <h2>Read famous correspondences from the past</h2>
      <ul>Link 1, eg. "Benjamin Franklin and Thomas Payne"</ul>
      <ul>Link 2</ul>
      <ul>Link 3</ul>
  </div>

  <div class="col-md-4">
    <h2>Features</h2>
      <ul>Create private correspondences with friends and family</ul>
      <ul>Discuss particular topics and become a better writer</ul>
      <ul>Share your correspondce for others to discuss</ul>
  </div>
