<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to correspondence.title, correspondence %>
    </h4>
    <p>
      <%= correspondence.description %>
    </p>
    <small>
      Correspondence between <%= correspondence.creator.name %> and <%= correspondence.participant.name %>
    </small>
  </div>
</div>
