<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to correspondence.title, correspondence %>
    </h4>
    <small>
      Correspondence with <%= correspondence.participant.name %>
    </small>
  </div>
</div> 
