

<div class="container georg-serif col-md-8">

  <h1>All Correspondences</h1>
  <%= will_paginate @correspondences %>
  <%= render partial: 'correspondences/correspondence', collection: @correspondences %>
  <%= will_paginate @correspondences %>

</div>
