
@import "bootstrap-sprockets";
@import "posts";
@import "discussions";
@import "welcome";
@import "bootstrap";


.nav {
  margin: 5px;
}

.user-info {
  margin-top: 9px;
}

.georg-serif {
  font-family: Georgia, serif;
}

.bottom-out {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
