.header {
  font: 100% Helvetica, sans-serif;
  border: solid;
  border-color: #A4D1D1;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 10px 10px 10px;
  background: #D3E9E9;
}

.index-container {
  height: 475px
}

.contribution-btn {
  position: relative;
  bottom: 5px;
}

.contribution-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #A4C4C4;
  padding-top: 10px;
  padding-bottom: 0px;
  opacity: 1.0;
}

.correspondence-area {
  padding: 5px;
}

.contributor {
  padding-bottom: 244px;
}
