.header {
  font: 100% Helvetica, sans-serif;
  border: solid;
  border-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 10px 10px 10px;
  background: lightgrey;
}


.contribution-btn {
  position: relative;
  bottom: 5px;
}

.contribution-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: lightgrey;
  padding-top: 10px;
  padding-bottom: 0px;
  opacity: 1.0;
}

.discussion-area {
  padding: 5px;
}

.contributor {
  padding-bottom: 244px;
}
