
.posts {
  border: solid;
  border-radius: 5px;
  padding: 5px;
}

.creator-posts {
  position: relative;
  margin: 10px 200px 10px 1px;
}

.participant-posts {
  position: relative;
  margin: 10px 1px 10px 200px;
}
