
.posts {
  border: solid;
  border-radius: 5px;
  padding: 5px;
}

.creator_posts {
  position: relative;
  margin: 10px 50px 10px 1px;
  border-color: lightblue;
}

.participant_posts {
  position: relative;
  margin: 10px 1px 10px 50px;
  border-color: lightgreen;
}
